/* home index.html cards */

.cards {
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
}

.cards_individualy, .details_container {
    background-color: rgb(249, 249, 249);
    padding: 2rem;
    border-width: 1rem;
    border-radius: 1em;
    border-color: rgba(161, 161, 161, 0.194);
    box-shadow: 0px 0px 20px 3px rgba(166, 166, 166, 0.188);
    border-style: double;
}

.cards-img {
    cursor: pointer;
    padding: 0em;
    margin: 1em;
    width: 10em;
    height: 10em;
    box-shadow: 0px 0px 20px 3px rgba(96, 96, 96, 0.266);
    border-radius: 1em;
    transition: width 0.1s, height 0.1s, box-shadow 0.1s, margin 0.1s;
}

.cards-img:hover {
    width: 11em;
    height: 11em;
    margin: 0.5em;
    box-shadow: 0px 0px 30px 3px rgba(96, 96, 96, 0.511);
}

.cards-title {
    font-family: 'Quicksand-SemiBold';
}

.cards-characteristics {
    font-family: 'Quicksand-Medium';
}

.cards-description {
    font-family: 'Quicksand-Light';
}


/* details html */
.details_container {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 40em;
    max-height: 22em;
}
/* container for the text in info page */
.info_container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60em;
    width: 90%;
    padding: 2rem;
    border-width: 1rem;
    border-radius: 1em;
    border-color: rgba(161, 161, 161, 0.194);
    box-shadow: 0px 0px 20px 3px rgba(166, 166, 166, 0.188);
    border-style: double;
}

/*playlist page */
.playlist-wrapper {
    border: 1rem double rgba(161, 161, 161, 0.194);
    padding: 3rem;
    margin: 50px auto;
    max-width: 1000px; /* wider */
    background-color: rgb(249, 249, 249);
    border-radius: 1em;
    box-shadow: 0px 0px 20px 3px rgba(166, 166, 166, 0.188);
}

/* flexbox */
.playlist_block {
    display: flex;
    align-items: center;
    gap: 2em;
    margin-bottom: 3em;
}

/* playlist content */
.playlist-content {
    flex-grow: 1;
}

.platform-title {
    font-weight: bold;
    margin-bottom: 0.5em;
    font-size: 1.2em;
    font-family: 'Quicksand-SemiBold';
}

.details_container_pl {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 40em;
    max-height: 22em;
}

.platform-logo {
    cursor: pointer;
    padding: 0;
    margin: 1em;
    width: 8em;
    height: 8em;
    box-shadow: 0px 0px 20px 3px rgba(96, 96, 96, 0.266);
    border-radius: 1em;
    transition: width 0.1s, height 0.1s, box-shadow 0.1s, margin 0.1s;
}

.platform-logo:hover {
    width: 9em;
    height: 9em;
    margin: 0.5em;
    box-shadow: 0px 0px 30px 3px rgba(96, 96, 96, 0.511);
}


/* fonts here bc idk how else */
  .header-navbar p {
    font-family: 'Quicksand-SemiBold', sans-serif;
    font-weight: 600;
  }
  
  .platform-title {
    font-family: 'Quicksand-Medium', sans-serif;
    font-weight: 500;
  }
  
  .footer-navbar p {
    font-family: 'Quicksand-Light', sans-serif;
    font-weight: 300;
  }

  ol li::marker {
    content: "• ";
    color: black;
  }

#details-img {
    width: 20em;
    height: 20em;
    margin: 1em;
    margin-right: 2em;
}

#details-img:hover {
    width: 21em;
    height: 21em;
    margin: 0.5em;
    margin-right: 1.5em;
    box-shadow: 0px 0px 30px 3px rgba(96, 96, 96, 0.511);
}

.details-text {
    max-width: 20em;
    max-height: 20em;
}

#details-title {
    font-size: 2em;
    font-family: 'Quicksand-Bold';
}