body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-size: 2rem;
}

/* the navigation bar basic style */
.navbar {
    background-color: rgb(177, 138, 152);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0.4em;
}

/* links to not be underlined/black */
a {
    text-decoration: none;
    color: rgb(39, 39, 39);
    transition: color 0.2s;
}

a:hover {
    color: black;
}

a:active {
    color: rgb(54, 54, 54);
}

/* organize the lists */
ul {
    justify-content: center;
    list-style-type: none;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
    text-align: center;
}

/* organize the uh text in the lists */
li {
    margin-left: 10px;
    margin-right: 10px;
}

/* the logo stuff */
.logo, .nav_list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

#logo_icon {
    height: 2em;
    width: auto;
}

/* the search bar*/
.input_wrapper {
    position: relative;
}

input {
    background-color: rgb(221, 221, 221);
    border-color: white;
    border-style: double;
    border-radius: 0.3em;
    border-width: 0.2em;
    padding: 0.3em;
    
    text-decoration: none;
    color: rgb(39, 39, 39);
    font-size: 1.5rem;
}

input:hover { background-color: rgb(189, 189, 189); }
input:focus { outline: none; }

/* the icon INSIDE the search bar*/
#search_icon {
    position: absolute;
    right: 0.2em;
    width: 1.8em;
    height: auto;  
    pointer-events: none;
}


/* the navigation bar basic style */
.site_navigation_preview {
    margin-top: 0.8em;
    background-color: rgb(230, 206, 214);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.8em 1em;
}
